<a href="https://colab.research.google.com/github/AnishaBasil/HHA504Final/blob/main/E2E_Anisha.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# HHA 504: E2E Final Assignment

## Anisha Basil
##12/12/2021

**Step 1: Setup and deploy EC2**
1. Go to https://azure.microsoft.com/en-us/
2.To get started, go to the Virtual Machines service
3. Select: Create + Virtual Machine.
4. Create name, password, and select all needed preferences for machine.
5. Review and Create the Virtual Machine.
6. Remember to go to networking and add the MySQL inbound port rule: port 3306


---

**Step 2: Accessing the Remote Machine via  Terminal**
1. Open  terminal, type ssh (username for your instance)@(ip address for your instance) and then, enter in the password created.
3. After entering the remote machine, type in "sudo apt-get update".
4. To install mysql on the remote system, type "sudo apt install mysql-server mysql-client" once the new machine has been updated.
5. To access the mysql application through the terminal, use "sudo mysql" after it has been installed.
6. After entering, type "show databases" to see what data currently exists
7. Create a new mysql user to connect with, by typing "CREATE USER 'dba'@'%' IDENTIFIED BY ‘PASSWORD’;
8. In order to grant this new user privileges, type "GRANT ALL PRIVILEGES ON . TO 'USERNAME'@'%' WITH GRANT OPTION;
9. Type "mysql -u 'dba' -p". Enter password.
10. Create a new database by typing "create database tempdata;" and confirm the database was made by typing "show databases;"


---

**Step 3: Connect to the SQL Instance using Jupyter Notebook or Python**
1. Import needed packages

In [43]:
from sqlalchemy import create_engine
import sqlalchemy
import pandas as pd 
import io
import pandas as pd
!sudo apt-get install python3-dev default-libmysqlclient-dev
!pip install pymysql
!pip install pymysql
!pip install cryptography

Reading package lists... Done
Building dependency tree
Reading state information... Done
default-libmysqlclient-dev is already the newest version (1.0.4).
python3-dev is already the newest version (3.6.7-1~18.04).
0 upgraded, 0 newly installed, 0 to remove and 37 not upgraded.
Requirement already satisfied: pymysql in /usr/local/lib/python3.7/dist-packages (1.0.2)
Requirement already satisfied: pymysql in /usr/local/lib/python3.7/dist-packages (1.0.2)
Requirement already satisfied: cryptography in /usr/local/lib/python3.7/dist-packages (36.0.0)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography) (2.21)

In [44]:
from sqlalchemy import create_engine
import sqlalchemy

**2.Connect to SQL instance**

In [47]:
!sudo apt-get install python3-dev default-libmysqlclient-dev
!pip install pymysql

from sqlalchemy import create_engine
import sqlalchemy

import pandas as pd

Reading package lists... Done
Building dependency tree
Reading state information... Done
default-libmysqlclient-dev is already the newest version (1.0.4).
python3-dev is already the newest version (3.6.7-1~18.04).
0 upgraded, 0 newly installed, 0 to remove and 37 not upgraded.
Requirement already satisfied: pymysql in /usr/local/lib/python3.7/dist-packages (1.0.2)

In [46]:
MYSQL_HOSTNAME = '52.186.83.114' 
MYSQL_USER = 'Anisha'
MYSQL_PASSWORD = 'ahi2021'
MYSQL_DATABASE = 'tempdata1'

connection_string = f'mysql+pymysql://{MYSQL_USER}:{MYSQL_PASSWORD}@{MYSQL_HOSTNAME}:3306/{MYSQL_DATABASE}'
engine = create_engine(connection_string)

**3. Load CSV File**

In [58]:
df = pd.read_csv('H1N1_Flu_Vaccines.csv')

In [49]:
TABLENAME = 'H1N1'

In [ ]:
df.to_sql(TABLENAME, con=engine)

In [52]:
pip install cryptography

Requirement already satisfied: cryptography in /usr/local/lib/python3.7/dist-packages (36.0.0)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography) (2.21)

In [51]:
print(engine.table_names)

<bound method Engine.table_names of Engine(mysql+pymysql://Anisha:***@52.186.83.114:3306/tempdata1)>



---

**Step 4: Fix Connection Error**
1. After running code in Jupyter Notebook, return to terminal and enter "sudo nano /etc/mysql/mysql.conf.d/mysqld.cnf" to fix configurations for the sql instance.
2. Next, type in "/etc/init.d/mysql restart" to restart mysql within the virtual machine
3. Re-run the code in  Jupyter Notebook and the csv file will be found within the created database as a table.


---

**Step 5: Create a backup of SQL file**
1. Create a 2nd instance in  Microsoft Azure's Virtual Machine service.
2. Run the new instance
3. Return to the 1st instance and type "sudo mysqldump -- all databases> dump.sql".
4. Type "ls" to confirm that the file has been saved.
5. Log in to the 2nd instance. Create a copy of the sql dump file: type "scp dump.sql USERNAME@2ND IP ADDRESS:/home/USERNAME
6. Enter and type in password
7. Enter "ls" to confirm that the backup sql file was created in the 2nd instance.


---

**Step 6: Create a Trigger**

In [ ]:
show databases;
use tempdata1;
delimiter $$
CREATE TRIGGER h1n1_concern_trigger_warning BEFORE INSERT ON H1N1 FOR EACH ROW
BEGIN 
IF NEW.h1n1_concern >3 THEN 
SIGNAL SQLSTATE '45000' 
SET MESSAGE_TEXT ='ERROR: H1N1 CONCERN SHOULD BE A NUMERICAL VALUE BETWEEN 0 AND 3. PLEASE TRY AGAIN' 
;END IF; 
END $$

***Test trigger:***

In [ ]:
INSERT INTO H1N1 (h1n1_concern) VALUES (6);



---



---